.about-container{
    background-image: url("../assests/AboutUs.png");
    background-size: cover;
    height: 100vh;
    
}

.about-text-container{
    display: flex;
    
}

.about-img{
    border-radius: 20px;
    filter: drop-shadow(10px,10px,10px,white);
    margin: 20px;
    margin-left:70px ;
    margin-top: 15%;
}

.about-text{
    color: white;
    padding-top: 15%;
}



.h2{
    color:#ECFF76;
    font-size: 30px;
    padding:20px;
    text-align: center;
}

@media (max-width:480px){
    .about-text-container{
        display: flex;
        flex-direction: column;
    }
    .about-text{
        padding: 0;
        text-align: left;
        padding-left: 30px;
    }
}